<% layout('layout') %> 
    <h1>捷運API動態測試</h1>
    <p>請選擇站點：</p>
    <form action="app.js" method="post">
        <select name="station" >
            <option value="101">小港</option>
			<option value="102">高雄國際機場</option>
			<option value="103">草衙</option>
			<option value="104">前鎮高中</option>
			<option value="105">凱旋</option>
			<option value="106">獅甲</option>
			<option value="107">三多</option>
			<option value="108">中央公園</option>
			<option value="109">美麗島</option>
			<option value="110">高雄火車站</option>
			<option value="111">後譯</option>
			<option value="112">凹子底</option>
			<option value="113">巨蛋</option>
			<option value="114">生態園區</option>
			<option value="115">左營</option>
			<option value="116">世運</option>
			<option value="117">油廠國小</option>
			<option value="118">楠梓加工區</option>
			<option value="119">後勁</option>
			<option value="120">都會公園</option>
			<option value="121">青埔</option>
			<option value="122">橋頭糖廠</option>
			<option value="123">橋頭火車站</option>
			<option value="124">南岡山</option>
			<option value="201">西子灣;</option>
			<option value="202">鹽埕埔;</option>
			<option value="203">市議會</option>
			<option value="204">美麗島</option>
			<option value="205">信義國小</option>
			<option value="206">文化中心</option>
			<option value="207">五塊厝</option>
			<option value="208">技擊館</option>
			<option value="209">衛武營</option>
			<option value="210">鳳山西站</option>
			<option value="211">鳳山</option>
			<option value="212">大東</option>
			<option value="213">鳳山國中</option>
			<option value="214">大寮</option>
			<option value="999">美麗島</option>
        </select>
        <input type="submit" value="送出">
    </form>
